/* CSS Stylesheet for # UI-Basics Test: First Test */
/*
* {
    box-sizing: content-box; 
    margin: 0; 
    padding: 0; 
}
*/
html,
body {
  margin: 0;
  padding: 0;
}
/* Header Section */
.header {
  width: 100%;
  background-color: cyan;
  position: sticky;
  top: 0px;
  padding-bottom: 15px;
}
header h1 {
  margin: 0;
  padding: 0;
}
/* List Section */
li {
  margin-bottom: 10px;
}
section.list > ul > li:nth-child(2) {
  color: blue;
}
/* Image Section */
.image img {
  display: block;
  width: 100%;
  /* height: 200px; */
}
.image {
  float: left;
  padding-left: 5px;
  max-width: 24%;
  /* min-width: 19%; */
  /* height: 200px; */
}
.tree {
  border-radius: 50%;
}
.imageFloat {
  float: none;
  height: 200px;
}
/* 3 H3 Headers */
.header3ILF {
  color: rgb(255, 165, 0);
  font-size: 2em;
  /* font-variant-caps: all-petite-caps; */
  font-variant-caps: all-small-caps;
  float: none;
}
/* Box Model Section*/
.box-model {
  padding: 5px;
  margin: 10%;
}
/* Footer Section */
footer a:visited {
  color: green;
}
footer a:hover {
  color: red;
}
